<h1><%= @category.title %></h1>
<div class="row">
  <% @establishments.each do |establishment| %>
    <div class="col-md-5 col-md-offset-1">
      <p><%= link_to image_tag(establishment.picture_url(:normal)),
                     establishment_path(establishment) if establishment.picture? %></p>
      <p><b>Title:</b> <%= link_to establishment.title, establishment_path(establishment) %></p>
      </p>
      <hr>
    </div>
<% end %>
</div>
<%= paginate @establishments %>
