<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add new place</h1>
      <%= simple_form_for @establishment do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :category_id, collection: Category.all,
                    prompt: "Select Category" %>
        <%= f.input :picture, :as => :file, required: true, hint: ("Maximum 900x600px") %>
        <%= f.input :agreement, as: :boolean, checked_value: true %>

        <%= f.button :submit %>
      <% end %>
  </div>
</div>
