<h1>All establishments</h1>
<div style="margin: 5px; padding: 5px; font-size: 18px">
  <p>
    <% @categories.each do |category| %>
    <%= link_to category.title, category_path(category) %> |
    <% end %>
  </p>
</div>
<div class="row">
  <% @establishments.each do |establishment| %>
    <div class="col-md-5 col-md-offset-1">
      <p>
        <%= link_to image_tag(establishment.picture_url(:normal)),
                     establishment_path(establishment) if establishment.picture? %>
      </p>
      <p><b>Title:</b> <%= link_to establishment.title, establishment_path(establishment) %></p>
      <p><b>Rating:</b><%= establishment.owerall_average %></p>
      <hr>
    </div>
  <% end %>
</div>
<%= paginate @establishments %>
