<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB --> <!-- only if you need custom infoboxes -->

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <h1><%= @establishment.title %></h1>
    <p><b>Category: <%= @establishment.category.title %></b></p>
    <p><%= @establishment.description %></p>
  </div>
  <div class="col-md-3">
    <%= image_tag(@establishment.picture_url(:normal)) if @establishment.picture? %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Gallery</h3>
      <div class="fotorama col-lg-6" data-nav="thumbs" data-loop="true" data-width="600" data-max-width="100%" data-allowfullscreen="true">
          <% @images.each do |image| %>
            <%= image_tag(image.image_url(:normal)) %>
          <% end %>
      </div>
      <div class="col-lg-6" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style='width: 600px;'>
          <div id="map" style='width: 540px; height: 324px;'></div>
        </div>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Ratings</h3>
    <p>Owerall: <%= @establishment.owerall_average %></p>
    <p>Quality of food: <%= @establishment.quality_food_average %></p>
    <p>Service quality: <%= @establishment.service_quality_average %></p>
    <p>Interior: <%= @establishment.interior_average %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Reviews</h3>
    <% @reviews.each do |review| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= review.user.username %> | <%= review.created_at %>
          <% if user_signed_in? && current_user.id == review.user.id %>
              <%= link_to 'Delete', establishment_review_path(@establishment, review), class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
        <div class="panel-body">
          <p><b><%= review.body %></b></p>
          <p>Quality of food: <%= review.quality_food %></br>
          Servise quality: <%= review.service_quality %></br>
          Interior: <%= review.interior %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if user_signed_in? && @review_availability.nil? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Add review</h3>
        <%= simple_form_for [@establishment, @establishment.reviews.new] do |f|%>
          <div class="form-inputs">
            <%= f.input :body, placeholder: 'Add a review...' %>
          </div>
          <div class="form-inputs">
            <%= f.input :quality_food, collection: 1..5 %>
          </div>
          <div class="form-inputs">
            <%= f.input :service_quality, collection: 1..5 %>
          </div>
          <div class="form-inputs">
            <%= f.input :interior, collection: 1..5 %>
          </div>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
          <br>
        <% end %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= simple_form_for [@establishment, @establishment.images.new] do |f| %>
      <%= f.input :image, :as => :file, required: true, hint: ("Maximum 900x600px") %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>


