<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB --> <!-- only if you need custom infoboxes -->

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <h1><%= @establishment.title %></h1>
    <p><b>Category: <%= @establishment.category.title %></b></p>
    <p><%= @establishment.description %></p>
  </div>
  <div class="col-md-3">
    <%= image_tag(@establishment.picture_url(:normal)) if @establishment.picture? %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Gallery</h3>
      <div class="fotorama col-lg-6" data-nav="thumbs" data-loop="true" data-width="600" data-max-width="100%" data-allowfullscreen="true">
          <% @establishment.images.each do |image| %>
            <%= image_tag(image.image_url(:normal)) %>
          <% end %>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Ratings</h3>
    <p>Owerall: <%= @establishment.owerall_average %></p>
    <p>Quality of food: <%= @establishment.quality_food_average %></p>
    <p>Service quality: <%= @establishment.service_quality_average %></p>
    <p>Interior: <%= @establishment.interior_average %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Reviews</h3>
    <% @establishment.reviews.each do |review| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= review.user.username %> | <%= review.created_at %>
              <%= link_to 'Delete', establishment_review_path(@establishment, review), class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
        <div class="panel-body">
          <p><b><%= review.body %></b></p>
          <p>Quality of food: <%= review.quality_food %></br>
          Servise quality: <%= review.service_quality %></br>
          Interior: <%= review.interior %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
